section {
    >div {
    
    >#div_0 {
        width: 50px;
        height: 50px;
        background-color: #98B2D1;
    }
    
    >#div_1 {
        width: 50px;
        height: 50px;
        background-color: #C74375;
    }

    >#div_2 {
        width: 50px;
        height: 50px;
        background-color: #BF1932;
    }

    >#div_3 {
        width: 50px;
        height: 50px;
        background-color: #7BC4C4;
    }

    >#div_4 {
        width: 50px;
        height: 50px;
        background-color: #E2583E;
    }

    >#div_4 {
        width: 50px;
        height: 50px;
        background-color: #53B0AE;
    } 
}   
}